@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');


*{
  margin: 0%;
  padding: 0%;
  font-family: "Roboto",sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
} 
h1{
  text-transform: uppercase;
}

//header 

nav{
  width:100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(243, 225, 225);

  >h1{
    width: 50%;
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  >div{
    display: flex;
    gap: 1.5rem;

    >a{ //all the link tags are denoted using a
      color: black;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}
// Home

.home{
  display: flex;
  flex-wrap: wrap;
}

// Card

.card{
  width: 220px;
  height: 220px;
  padding: 2rem;
  background-color: rgb(172, 169, 169);
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >img{
    width: 100px;
    object-fit: contain;
  }
}

//loader
.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  >div{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid red ;
    border-radius: 50%;
    animation: rotation 0.5s infinite ease-out
  }
}

//footer
footer{
  background-color: rgb(243, 225, 225);
  height: 200px;
  width:  100%;
  color: rgb(44,44,44);
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2rem;

  >div{
      display: flex;
      flex-direction:column ;
      justify-content: center;
      // align-items: center;
      >h1{
          font:700 2rem "Roboto";
          text-transform: uppercase; 
          color: #5853ff;
      }
      >p{
          font: 300 1rem "Roboto";
      }

      >h5{
          font: 300px 2rem "Roboto";
          margin: 1rem 0;
          text-align: center;
      }

      >div{
          display: flex;
          flex-direction: column;
          align-items: center;
          
          a{
              color: rgb(44,44,44);
              font: 900 1rem cursive;
              &:hover{
                  color: #5853ff;
              }

          }
      }
  }
}

@keyframes rotation {
    to{
      transform: rotateZ(360deg);
    }
}